
.new_camp {
  margin-top: 40px;
  background-color: white;
  padding: 30px;

  h3 {
    font-size: 20px;
    margin: 20px 0;
  }
}

.form-control-label {
  font-size: 15px;
  color: rgb(100, 100, 100);
}

#photo_preview {
  height: 200px;

  img {
    max-width:100%;
    max-height:100%;
  }
}
